.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 318px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* ============ common styles ============ */

/* ============ Header styles ============ */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
}

.page-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */
  padding: 16px;
}

.web-logo {
  color: #2e2f42;
}

.page-menu {
  display: none;
}

.page-item-nav {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.decorate {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decorate::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  font-style: normal;
}

.contacts-menu {
  display: none;
  /*  display: flex;
  align-items: center;
  gap: 40px; */
}



.page-nav:hover,
.page-nav:focus {
  color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.menu-head-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mob-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-window.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}

.mob-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #2e2f42;
}

.mob-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 72px;
  margin-bottom: 168px;
}

.mob-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-menu-contacts {
  margin-bottom: 48px;
}

.mob-menu-contacts-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu-contacts-link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mob-menu-social-link-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mob-menu-icon-link {
  width: 40px;
  height: 40px;
}

.mob-menu-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}
/* ============ Header styles ============ */

/* ============ Hero styles ============ */
.hero {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 320px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.buttom-order {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  data
}
.buttom-order:hover,
.buttom-order:focus {
  background-color: #404bbf;
}
/* ============ Hero styles ============ */

/* ============ Skills Style ============ */
.skills {
  padding: 96px 0;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.skills-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.skills-icon {
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px; */
}

.skills-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ============ Skills Style ============ */

/* ============ Team Style ============ */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-page {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.name-position {
  padding: 32px 0;
}

.team-head {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}


.icon-link-team {
  width: 40px;
  height: 40px;
}

.link-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-link:hover,
.link-social-link:focus {
  background-color: #404bbf;
}

.svg-social-team {
  fill: #f4f4fd;
}

.team-head {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* ============ Team Style ============ */

/* ============ Portfolio ============ */
.portfolio {
  padding: 96px 0;
}

.port-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.port-menu {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 24px; */
  gap: 48px;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.port-item {
  /*  width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-item:hover p {
  transform: translateY(0%);
}

.port-text-card {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-head {
  margin-bottom: 8px;
}

.port-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.port-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ============ Portfolio ============ */

/* ============ Footer ============ */

footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

footer > .container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  justify-content: center; */
  /* flex-direction: column; */
  gap: 72px;
}

.footer-page {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  width: max-content;
}

.footer-main-text {
  max-width: 288px;
  /* margin-right: 120px; */
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  max-width: 208px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-right: 80px; */
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  /* max-width: 264px; */
}

.footer-form {
  /* display: flex;
  flex-direction: column; */
  /* align-items: baseline; */
}

.footer-form-subscribe-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-form-subscribe-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  padding-left: 16px;
  /* margin-right: 24px; */
  color: #fff;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
}

.footer-form-subscribe-input::placeholder {
  color: #fff;
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.footer-subscribe-button-icon {
  margin-left: 16px;
}

/* ============ Footer ============ */

/* ============ modal ============ */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  width: 288px;
  height: 80%;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  background-color: rgb(252, 252, 252);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  color: #fff;
  border: none;
  fill: #fff;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 16px;
}

.recall-form-field-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.recall-form-input-wrapper {
  position: relative;
}

.recall-form-field-wrapper {
  margin-bottom: 8px;
}

.recall-form-field-comment {
  margin-bottom: 16px;
}

.recall-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.recall-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: #2e2f42;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.recall-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.recall-form-input:focus + .recall-form-input-icon {
  fill: #4d5ae5;
}

.recall-form-input-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.recall-form-input-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.recall-form-input-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.recall-form-input-checkbox:checked
  + .recall-form-field-checkbox
  > .recall-form-custom-checkbox {
  border: none;
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
}

.recall-form-input-checkbox:focus
  + .recall-form-field-checkbox
  > .recall-form-custom-checkbox {
  outline: 1px solid #404bbf;
  /* button: none; */
}

.recall-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.recall-form-field-checkbox {
  display: flex;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}



.recall-form-privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}
.recall-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.recall-form-btn {
  display: block;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============ /modal ============ */

/* ============ media tablets ============ */
@media screen and (min-width: 768px) {
.container {
  max-width: 766px;
}

/* ============ Header styles ============ */
.page-logo {
  margin-right: 120px;
}

.page-menu {
  display: flex;
  gap: 40px;
}

.menu-head-nav-btn {
  display: none;
}

.contacts-menu {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.contacts-link {
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============ /Header styles ============ */

/* ============ Hero styles ============ */
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  min-width: 768px;

}

.hero-name {
  max-width: 496px;
  font-size: 56px;
line-height: 1.07;
}

/* ============ /Hero styles ============ */

/* ============ Skills Style ============ */
.skills-list {
  gap: 24px;
}

.skills-item {
  width: calc((100% - 24px) / 2);
}

/* ============ /Skills Style ============ */

/* ============ Team Style ============ */
.team-list {
  gap: 24px;
}

/* ============ /Team Style ============ */

/* ============ Portfolio ============ */
.port-menu {
  gap: 24px;
}

.port-item {
  width: calc((100% - 24px) / 2);
}

/* ============ /Portfolio ============ */

/* ============ Footer ============ */
footer > .container {
  align-items: baseline;
  column-gap: 24px;
  row-gap: 72px;
}

.footer-page {
  margin: 0 0 16px 0;
}

.footer-main-text {
  max-width: 264px;
}

.footer-social {
align-items: flex-start;
}

/* .footer-form-subscribe {
flex-direction: row;
} */

.footer-form-subscribe-input {
  width: 264px; 
}